* {
    margin:0;
    padding:0;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login {
    width: 400px;
}

.login span {
    padding: 5px;
}

.login h1 {
    margin: 0;
    background:#3399cc;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}


form {
    margin: 0;
    background: #f0f0f0;
    padding: 5%;
}

input[type="text"], input[type="password"]{
    width: 90%;
    background:#ffffff;
    margin: 0 0 5%;
    border: 1px solid #cccccc;
    padding: 5%;
    font-size: 95%;
    color: #555555;
}

button[type="submit"]{
    width: 100%;
    background: #3399cc;
    padding: 5%;
    font-size: 95%;
    color: #ffffff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

button[type="submit"]:hover {
    background: #000080;
}

footer {
    background: #3399cc;
    color: #ffffff;
}

footer table {
    width: 100%;
    font-size: 1.2em;
    padding: 2%;
}

footer table tr td span:hover {
    color: #000080;
    cursor: pointer;
}

